<!-- page eight start -->
<table dir="ltr">
    <tr>
        <td style="height: 3cm;" colspan="5"><span class="spanHeader">نصیحتی برای همسریابی</span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td style="height: 4cm;" colspan="3" dir="rtl"><span class="spanMiddle">تمامی
                راهنمایی ها برای یک ازدواج مناسب در یک جا ارائه می گردد. خبرها، بلاگ ها، ویدیوها و
                مقالاتی درباره تجربه های ازدواج های رخ داده توسط تیم متخصص این سامانه در اختیار کاربران این سامانه قرار
                خواهد
                گرفت</span></td>
        <td></td>
    </tr>

    <tr>
        <td style="width: 11cm;"></td>
        <td><img style="width: 13cm;" src="/assets/Images/love1.png"></td>
        <td style="width: 2cm;"></td>
        <td><img style="width: 13cm;" src="/assets/Images/love2.png"></td>
        <td style="width: 11cm;"></td>
    </tr>

    <tr>
        <td></td>
        <td dir="rtl" style="height: 1cm;"><span class="spanGreen">5 دلیلی که برای ازدواج به
                این صورت می توان برشمرد</span></td>
        <td style="width: 2cm;"></td>
        <td dir="rtl" style="height: 1cm;"><span class="spanGreen">پس بهترین سوال برای شروع
                در اولین مکالمه چه خواهد بود؟</span></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td dir="rtl"><span class="spanButtom">در گذشته،
                وقتی صحبت از آشنایی بصورت مجازی می شد، هیچ کسی باور صحیحی به این روابط نداشت، اما امروزه با
                گشترش فضاهای مجازی استقبال عدیده ای از این شبکه ها صورت گرفته که خود می تواند بستری برای آشنایی به جهت
                ازدواج
                باشد</span></td>
        <td style="width: 2cm;"></td>
        <td dir="rtl"><span class="spanButtom">اگه کسی
                خجالتی باشد، بهترین راه برای آشنایی، بصورت مجازی خواهد بود. در این حالت فرد دلشوره ملاقات با کسی
                که آشنایی ندارن را نخواهد داشت</span></td>
        <td></td>
    </tr>

    <tr>
        <td style="height: 5cm;"></td>
    </tr>


    <tr>
        <td></td>
        <td style="height: 2cm;" dir="rtl"><span class="spanHeaderTwo"> علم ازدواج و یک رابطه
                پایدار</span></td>
        <td style="width: 2cm;"></td>
        <td style="height: 2cm;" dir="rtl"><span class="spanHeaderTwo">چگونه آشنایی مجازی با سامانه
                EMARRY میسر خواهد بود</span></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td dir="rtl"><span class="spanButtomTwo">در مقابل
                دعداد اندکی سامانه ازدواج که وجود دارد، سامانه EMARRY بدلیل اینکه بدرسنی کاربر را شناسایی می
                نماید، حائز اهمیت است. در این سامانه، با پاسخ به پرسشنامه ها و سوالاتی که توسط سامانه طراحی شده اند،
                ویژگی های
                نامزد و آنچه که از طرف متقابل انتظار دارد، استخراج می گردد.
                با این ویژگی ها می توان بهترین </span></td>
        <td style="width: 2cm;"></td>
        <td dir="rtl"><span class="spanButtomTwo">در شرایط فعلی
                یکی از دغدغه های آشنایی، اینکه آیا طرف مقابل شرایطی که مد نظر من است را دارد یا خیر.
                در این سامانه براحتی می تواند با توجه به ویژگی های که خود شخص دارد و همچنین ویژگی های که در طرف مقابل
                جست و جو
                می کند، با فرد مقابل خود آشنا شود</span></td>
        <td></td>
    </tr>
</table>
<!-- page eight start -->