

  <!-- page one footer start -->
  <table style="height:150px;">
    <tr>
      <!-- cell one start -->
      <td class="page1footer" style="background-color: #1A5F78;">
        <!--center-->
        <table style="width: 100%; text-align: center;">
          <!--center-->
          <tr>
            <td style="border: none; height: 1cm;" colspan="2">
              <img style="border: none; height: 1.1cm; width: 1.1cm;" src="/assets/Images/heartlogo3.png">
            </td>
          </tr>
          <tr>
            <td style="height: 1.4cm;"></td>
          </tr>
          <tr>
            <td style="text-align: right ; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  #ffcb4a; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                سایت همسریابی
              </span>
            </td>
            <td style="text-align: left ; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  white; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                اولین و معتبرترین
              </span>
            </td>
          </tr>
          <tr>
            <td style="height: 1cm;"></td>
          </tr>
          <!--/center-->
        </table>
        <!--/center-->
      </td>



      <!-- cell two start -->
      <td class="page1footer" style="background-color: #617dc6;">
        <!--center-->
        <table style="width: 100%; text-align: center;">
          <!--center-->
          <tr>
            <td style="border: none; height: 1cm;" colspan="2">
              <img style="border: none; height: 1.1cm; width: 1.1cm;" src="/assets/Images/heartlogo3.png">
            </td>
          </tr>
          <tr>
            <td style="height: 1.4cm;"></td>
          </tr>
          <tr>
            <td style="text-align: right ; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  white; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                یک عضو جدید
              </span>
            </td>
            <td style="text-align: left ; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  #ffcb4a; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                هر 14 دقیقه
              </span>
            </td>
          </tr>
          <tr>
            <td style="height: 1cm;"></td>
          </tr>
          <!--/center-->
        </table>
        <!--/center-->
      </td>

      <!-- cell three start -->
      <td class="page1footer" style="background-color: #098A94;">
        <!--center-->
        <table style="width: 100%; text-align: center;">
          <!--center-->
          <tr>
            <td style="border: none; height: 1cm;" colspan="2">
              <img style="border: none; height: 1.1cm; width: 1.1cm;" src="/assets/Images/heartlogo3.png">
            </td>
          </tr>
          <tr>
            <td style="height: 1.4cm;"></td>
          </tr>
          <tr>
            <td style="text-align: right; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  white; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                در همسریابی
              </span>
            </td>
            <td style="text-align: left; border: none; height: 1cm;">
              <span
                style="font-family: iranSans; color:  #ffcb4a; font-size: 25px; font-weight: bold; text-decoration: underline; ">
                بیشترین کیفیت
              </span>
            </td>
          </tr>
          <tr>
            <td style="height: 1cm;"></td>
          </tr>
          <!--/center-->
        </table>
        <!--/center-->
      </td>
    </tr>
  </table>
  <!-- page one footer end -->