<div style="width: 100%;">
    <table>
        <tr>
            <td class="tdClass">
                <button mat-raised-button style="background-image: url(/assets/Images/button.PNG);">
                    <span >ثبت نام</span>
                </button>
            </td>

            <td style="width: 40%;"></td>

            <td class="tdClass">
                <button mat-raised-button style="background-image: url(/assets/Images/button.PNG);">
                    <span >ورود</span>
                </button>
            </td>
        </tr>
        <tr>
            <td style="height: 450px;"><span>متن در اینجا:</span></td>
        </tr>
    </table>
</div>