<div>
  <!--style="background-image: url(/assets/Images/page1header.png/);"-->

<app-page-one-background ></app-page-one-background>

<app-page-one-footer></app-page-one-footer>


  <!-- page two start -->
  <table style="border: none; text-align: center; width: 100%;" dir="ltr">
    <tr>
      <td style="height: 1cm;" colspan="6">
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <span style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold;">
          در این سایت ما بدنبال کمک به هزاران نفر برای یافتن همسر دلخواه خود هستیم
        </span>
      </td>
    </tr>
    <tr>
      <td style="height:35px"></td>
    </tr>
    <tr>
      <td style="width: 400px;"></td>
      <td><img src="/assets/Images/new-members.png" alt=""></td>
      <td><img src="/assets/Images/female-male.png" alt=""></td>
      <td><img src="/assets/Images/success-rate.png" alt=""></td>
      <td><img src="/assets/Images/academic-rate.png" alt=""></td>
      <td style="width: 400px;"></td>
    </tr>
    <tr dir="rtl">
      <td s dirtyle="width: 400px;"></td>
      <td><span style="font-family: iranSans; font-size: 18px; font-weight: bold; ">ثبت هزاران ازدواج موفق</span></td>
      <td><span style="font-family: iranSans; font-size: 18px; font-weight: bold; ">51% مردها و 49% زن ها</span></td>
      <td><span style="font-family: iranSans; font-size: 18px; font-weight: bold; ">کمک شایان توجهی به بهبودی
          روابط</span></td>
      <td><span style="font-family: iranSans; font-size: 18px; font-weight: bold; ">بیش از 3 میلیون پیام در هفته</span>
      </td>
      <td style="width: 400px;"></td>
    </tr>
    <tr>
      <td style="height:1.5cm"></td>
    </tr>
  </table>
  <!-- page two end -->
  <!-- page three start -->
  <table style="border: none; margin-bottom: 1cm ; text-align: center; width: 100%; background-color: #F2F2F2;"
    dir="ltr">
    <tr>
      <td style="height: 1cm;">
      </td>
    </tr>
    <tr>
      <td style="border: none;" colspan="4">
        <span style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold;">
          راه کارها، باید ها و نباید ها
        </span>
      </td>
    </tr>
    <tr>
      <td style="height: 0.5cm;">
      </td>
    </tr>
    <tr>
      <td style="border: none ; width:17cm" rowspan="2"></td>
      <td style="border: none; height: 1cm; width: 4cm;" rowspan="2"><img src="/assets/Images/MatchingWheel.png"></td>
      <td style="border: none; height: 1cm; width: 20cm; height: 1cm;">
        <span
          style="font-family: iranSans; font-size: 18px; line-height: 60px; text-justify: auto; text-align: justify;"
          dir="rtl">
          همواره برای داشتن زندگی موفق، می بایست فاکتور های مختلف در کنار هم گذاشته شود تا بتوان در کنار تمامی مشکلات سر
          راه، زندگی شاد و سالمی داشت. یکی از این فاکتور ها گرفتن راهنمایی و مشاور از افرادیست که در اینگونه زمینه ها
          دارای تجربه و تخصص هستند.
        </span></td>
      <td style="border: none ; width:17cm" rowspan="2"></td>
    </tr>
    <tr>
      <td style="border: none; height: 80px;">
        <!-- sign up start -->
        <button mat-raised-button
          style="width: 3cm ; background-size: cover ; background-image: url(/assets/Images/button.PNG) ; background-color:#f16c50; color: white;">
          <span style="font-family: iranSans; font-weight: bold; font-size: 18px;">ثبت نام</span>
        </button>
        <!-- sign up end -->
      </td>
    </tr>
    <tr>
      <td style="margin-bottom: 1cm;"></td>
    </tr>
  </table>
  <!-- page three end -->

  <!-- page four start -->
  <table style="border: none; text-align: center; width: 100%; background-color: white; margin-bottom: 1cm;" dir="ltr">
    <tr>
      <td style="border: none ;" colspan="4">
        <span style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold;">نامزد های مطلوب، همچون
          شما</span>
      </td>
    </tr>
    <tr>
      <td style="border: none; height: 1cm;">
      </td>
    </tr>

    <tr>
      <td style="border: none; width: 10cm;">
      </td>

      <td style="border: none">
        <span
          style="font-family: iranSans; font-size: 18px; line-height: 60px; text-justify: auto; text-align: justify;">
          هموراه برای تشکیل یک زندکی صحیح، باید از نظر شخصیتی افراد بدرستی کنار یکدیگر قرار گیرند، پس ویژگی های اخلاقی
          تاثیر بسزایی در نتیجه هر رابطه ای خواهد داشت.
          با در نظر گرفتن این ویژگی ها می توان فرد مورد نظر خود را جست و جو نمایید.
        </span>
      </td>

      <td style="border: none">
        <img style="width: 13cm;" src="/assets/Images/static.png">
      </td>

      <td style="border: none; width: 10cm;">
      </td>

    </tr>
    <tr>
      <td style="border: none">

      </td>

      <td style="border: none">
        <!-- sign up start -->
        <button mat-raised-button
          style="width: 3cm ; background-size: cover ; background-image: url(/assets/Images/button.PNG) ; background-color:#f16c50; color: white;">
          <span style="font-family: iranSans; font-weight: bold; font-size: 18px;">ثبت نام</span>
        </button>
        <!-- sign up end -->
      </td>
    </tr>

  </table>
  <!-- page four end -->

  <!-- page five start -->
  <div style="text-align: center; background-image: url(/assets/Images/fallpage.png); height: 10cm;">
    <table style="border: none; text-align: center; margin-bottom: 1cm; width: 100%;" dir="ltr">
      <tr>
        <td style="height: 2cm;"></td>
      </tr>

      <tr>
        <td colspan="3">
          <span style="font-family: iranSans; color:  white; font-size: 45px; font-weight: bold;">ما اینجایی برای
            شما</span>
        </td>
      </tr>

      <tr>
        <td style="height: 2cm;"></td>
      </tr>

      <tr>
        <td style="width: 5cm;"></td>
        <td>
          <span
            style="color: white ; font-family: iranSans; font-size: 25px; line-height: 60px; text-justify: auto; text-align: justify;"
            dir="rtl">
            اولین گام برای پیدا کردن بهترین و ایده آل ترین همسر خود، ثبت نام در سامانه EMARRY می باشد.
            از ثبت نام تا پیدا کردن همسر دلخواه خود، ما در کنار شما هستیم تا بتوانید لذت یک ازدواج صحیح را تجربه
            نمایید
          </span>
        </td>
        <td style="width: 5cm;"></td>
      </tr>
    </table>
  </div>
  <!-- page five end -->
  <!-- page six start -->
  <table style="border: none; margin-bottom: 1cm ; text-align: center; width: 100%; background-color: white;" dir="ltr">
    <tr>
      <td style="height: 1cm;">
      </td>
    </tr>
    <tr>
      <td style="border: none;" colspan="5">
        <span style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold;">
          تجربه یک رابطه درست و صحیح
        </span>
      </td>
    </tr>
    <tr>
      <td style="height: 2cm;">
      </td>
    </tr>
    <tr>
      <td style="border: none ; width:17cm" rowspan="2"></td>
      <td style="border: none; height: 1cm; width: 4cm;" rowspan="2"><img style="width: 13cm;"
          src="/assets/Images/multi.png"></td>
      <td style="width: 1cm;"></td>
      <td style="border: none; height: 1cm; width: 20cm; height: 1cm;">
        <span
          style="font-family: iranSans; font-size: 18px; line-height: 60px; text-justify: auto; text-align: justify;"
          dir="rtl">
          در این سایت، با توجه به تمامی ملاک های درست جهت تشکیل یک زندگی سالم، افراد توسط خانواده های خود به یکدیگر
          معرفی شده، تا یک
        </span></td>
      <td style="border: none ; width:17cm" rowspan="2"></td>
    </tr>
    <tr>
      <td style="width: 5cm;"></td>
      <td style="border: none; height: 80px;">
        <!-- sign up start -->
        <button mat-raised-button
          style="width: 3cm ; background-size: cover ; background-image: url(/assets/Images/button.PNG) ; background-color:#f16c50; color: white;">
          <span style="font-family: iranSans; font-weight: bold; font-size: 18px;">ثبت نام</span>
        </button>
        <!-- sign up end -->
      </td>
    </tr>
    <tr>
      <td style="margin-bottom: 1cm;"></td>
    </tr>
  </table>
  <!-- page six end -->

  <!-- page seven start -->
  <table style="border: none; margin-bottom: 1cm ; text-align: center; width: 100%; background-color: #F2F2F2;"
    dir="ltr">
    <tr>
      <td style="height: 3cm;" colspan="3"><span
          style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold;">رتبه یک اعتماد و اطمینان در
          حوزه همسریابی</span></td>
    </tr>

    <tr>
      <td style="width: 12cm;"></td>
      <td style="height: 4cm;"><span
          style="font-family: iranSans; font-size: 18px; line-height: 60px; text-justify: auto; text-align: justify;"
          dir="rtl">وقتی در این سامانه بیش از 3 میلیون ازدواج موفق با رعایت تمامی اصول و ضوابط شرعی ثبت گردیده، به منزله
          عدم وجود افراد نادرست در سیستم می باشد و تنها افرادی که واقعا بدنبال ازدواج هستند در این سامانه عضو می
          شوند.</span></td>
      <td style="width: 12cm;"></td>
    </tr>

    <tr>
      <td></td>
      <td style="height: 3cm;">
        <!-- sign up start -->
        <button mat-raised-button
          style="width: 3cm ; background-size: cover ; background-image: url(/assets/Images/button.PNG) ; background-color:#f16c50; color: white;">
          <span style="font-family: iranSans; font-weight: bold; font-size: 18px;">ثبت نام</span>
        </button>
        <!-- sign up end -->
      </td>
      <td></td>
    </tr>
  </table>
  <!-- page seven end -->

  <!-- page eight start -->
  <table style="border: none; margin-bottom: 1cm ; text-align: center; width: 100%; background-color: white;" dir="ltr">
    <tr>
      <td style="height: 3cm;" colspan="5"><span
          style="font-family: iranSans; color:  black; font-size: 35px; font-weight: bold; ">نصیحتی برای همسریابی</span>
      </td>
    </tr>

    <tr>
      <td></td>
      <td style="height: 4cm;" colspan="3" dir="rtl"><span
          style="font-family: iranSans; color:  black; font-size: 20px; line-height: 35px;">تمامی
          راهنمایی ها برای یک ازدواج مناسب در یک جا ارائه می گردد. خبرها، بلاگ ها، ویدیوها و
          مقالاتی درباره تجربه های ازدواج های رخ داده توسط تیم متخصص این سامانه در اختیار کاربران این سامانه قرار خواهد
          گرفت</span></td>
      <td></td>
    </tr>

    <tr>
      <td style="width: 11cm;"></td>
      <td><img style="width: 13cm;" src="/assets/Images/love1.png"></td>
      <td style="width: 2cm;"></td>
      <td><img style="width: 13cm;" src="/assets/Images/love2.png"></td>
      <td style="width: 11cm;"></td>
    </tr>

    <tr>
      <td></td>
      <td dir="rtl" style="height: 1cm;"><span
          style="font-family: iranSans; color:  #00A69D; font-size: 15px; font-weight: bold; ">5 دلیلی که برای ازدواج به
          این صورت می توان برشمرد</span></td>
      <td style="width: 2cm;"></td>
      <td dir="rtl" style="height: 1cm;"><span
          style="font-family: iranSans; color:  #00A69D; font-size: 15px; font-weight: bold; ">پس بهترین سوال برای شروع
          در اولین مکالمه چه خواهد بود؟</span></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td dir="rtl"><span style="font-family: iranSans; color: black; font-size: 15px; font-weight: bold;">در گذشته،
          وقتی صحبت از آشنایی بصورت مجازی می شد، هیچ کسی باور صحیحی به این روابط نداشت، اما امروزه با
          گشترش فضاهای مجازی استقبال عدیده ای از این شبکه ها صورت گرفته که خود می تواند بستری برای آشنایی به جهت ازدواج
          باشد</span></td>
      <td style="width: 2cm;"></td>
      <td dir="rtl"><span span style="font-family: iranSans; color: black; font-size: 15px; font-weight: bold;">اگه کسی
          خجالتی باشد، بهترین راه برای آشنایی، بصورت مجازی خواهد بود. در این حالت فرد دلشوره ملاقات با کسی
          که آشنایی ندارن را نخواهد داشت</span></td>
      <td></td>
    </tr>

    <tr>
      <td style="height: 5cm;"></td>
    </tr>


    <tr>
      <td></td>
      <td style="height: 2cm;" dir="rtl"><span
          style="font-family: iranSans; color: black; font-size: 20px; font-weight: bold; "> علم ازدواج و یک رابطه
          پایدار</span></td>
      <td style="width: 2cm;"></td>
      <td style="height: 2cm;" dir="rtl"><span
          style="font-family: iranSans; color: black; font-size: 20px; font-weight: bold; ">چگونه آشنایی مجازی با سامانه
          EMARRY میسر خواهد بود</span></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td dir="rtl"><span style="font-family: iranSans; color: black; font-size: 15px; line-height: 30px;">در مقابل
          دعداد اندکی سامانه ازدواج که وجود دارد، سامانه EMARRY بدلیل اینکه بدرسنی کاربر را شناسایی می
          نماید، حائز اهمیت است. در این سامانه، با پاسخ به پرسشنامه ها و سوالاتی که توسط سامانه طراحی شده اند، ویژگی های
          نامزد و آنچه که از طرف متقابل انتظار دارد، استخراج می گردد.
          با این ویژگی ها می توان بهترین </span></td>
      <td style="width: 2cm;"></td>
      <td dir="rtl"><span style="font-family: iranSans; color: black; font-size: 15px; line-height: 30px;">در شرایط فعلی
          یکی از دغدغه های آشنایی، اینکه آیا طرف مقابل شرایطی که مد نظر من است را دارد یا خیر.
          در این سامانه براحتی می تواند با توجه به ویژگی های که خود شخص دارد و همچنین ویژگی های که در طرف مقابل جست و جو
          می کند، با فرد مقابل خود آشنا شود</span></td>
      <td></td>
    </tr>
  </table>
  <!-- page eight start -->

</div>