<div>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="employees" class="nav-link" routerLinkActive="active" href="../test.html">Employee List</a>
      </li>
      <li class="nav-item">
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
      </li>
    </ul>
  </nav>
  <!--style="background-image: url(/assets/Images/page1header.png/);"-->

<app-page-one-background ></app-page-one-background>

<app-page-one-footer></app-page-one-footer>

<app-page-two></app-page-two>
  
<app-page-three></app-page-three>
 
  <app-page-four></app-page-four>

  <app-page-five></app-page-five>

  <app-page-six></app-page-six>

  <app-page-seven></app-page-seven>

  <app-page-eight></app-page-eight>

 

</div>