<!-- page four start -->
<table  dir="ltr">
    <tr>
        <td style="border: none ;" colspan="4">
            <span class="spanHeader" >نامزد های مطلوب،
                همچون
                شما</span>
        </td>
    </tr>
    <tr>
        <td style="border: none; height: 1cm;">
        </td>
    </tr>

    <tr>
        <td style="border: none; width: 10cm;">
        </td>

        <td style="border: none">
            <span class="spanMiddle">
                هموراه برای تشکیل یک زندکی صحیح، باید از نظر شخصیتی افراد بدرستی کنار یکدیگر قرار گیرند، پس ویژگی های
                اخلاقی
                تاثیر بسزایی در نتیجه هر رابطه ای خواهد داشت.
                با در نظر گرفتن این ویژگی ها می توان فرد مورد نظر خود را جست و جو نمایید.
            </span>
        </td>

        <td style="border: none">
            <img style="width: 13cm;" src="/assets/Images/static.png">
        </td>

        <td style="border: none; width: 10cm;">
        </td>

    </tr>
    <tr>
        <td style="border: none">

        </td>

        <td style="border: none">
            <!-- sign up start -->
            <button mat-raised-button
                >
                <span class="btnSpan">ثبت نام</span>
            </button>
            <!-- sign up end -->
        </td>
    </tr>

</table>
<!-- page four end -->