
  <div id="hdimg" class="Page1headerDiv">

    <app-page-one-header></app-page-one-header>

    <!-- heart logo start -->
    <table>
      <tr style="height: 30px;"></tr>
      <tr>
        <td style="width: 6.6cm;"></td>
        <td>
          <img style="border: none; height: 1.2cm; width: 1.2cm;" src="/assets/Images/heartlogo.png">
        </td>
        <td style="font-family: monospace0; color: white; font-size: 40px;">EMARRY</td>
      </tr>
    </table>
    <!-- heart logo end -->

    <div style="height: 10%;"></div>


    <app-page-one-middle></app-page-one-middle>



  </div>
  


