
.Page1headerDiv{
    background-image: url('/assets/Images/face111.png');
    background-size: cover;
    width: 100%; 
    height: 750px;
    margin: 0 auto;
    padding: 0 aut0;
    text-align: center;
    border: 0;
    
}