<!-- page five start -->
<div >
    <table  dir="ltr">
      <tr>
        <td style="height: 2cm;"></td>
      </tr>

      <tr>
        <td colspan="3">
          <span class="spanHeader">ما اینجایی برای
            شما</span>
        </td>
      </tr>

      <tr>
        <td style="height: 2cm;"></td>
      </tr>

      <tr>
        <td style="width: 5cm;"></td>
        <td>
          <span
            class="spanMiddle"
            dir="rtl">
            اولین گام برای پیدا کردن بهترین و ایده آل ترین همسر خود، ثبت نام در سامانه EMARRY می باشد.
            از ثبت نام تا پیدا کردن همسر دلخواه خود، ما در کنار شما هستیم تا بتوانید لذت یک ازدواج صحیح را تجربه
            نمایید
          </span>
        </td>
        <td style="width: 5cm;"></td>
      </tr>
    </table>
  </div>
  <!-- page five end -->