<!-- page two start -->
<table style="border: none; text-align: center; width: 100%;" dir="ltr">
    <tr>
        <td style="height: 1cm;" colspan="6">
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <span class="spanOther">
                در این سایت ما بدنبال کمک به هزاران نفر برای یافتن همسر دلخواه خود هستیم
            </span>
        </td>
    </tr>
    <tr>
        <td style="height:35px"></td>
    </tr>
    <tr>
        <td style="width: 400px;"></td>
        <td><img src="/assets/Images/new-members.png" alt=""></td>
        <td><img src="/assets/Images/female-male.png" alt=""></td>
        <td><img src="/assets/Images/success-rate.png" alt=""></td>
        <td><img src="/assets/Images/academic-rate.png" alt=""></td>
        <td style="width: 400px;"></td>
    </tr>
    <tr dir="rtl">
        <td s dirtyle="width: 400px;"></td>
        <td><span>ثبت هزاران ازدواج موفق</span></td>
        <td><span>51% مردها و 49% زن ها</span></td>
        <td><span>کمک شایان توجهی به بهبودی
                روابط</span></td>
        <td><span>بیش از 3 میلیون پیام در
                هفته</span>
        </td>
        <td style="width: 400px;"></td>
    </tr>
    <tr>
        <td style="height:1.5cm"></td>
    </tr>
</table>
<!-- page two end -->