<!-- page three start -->
<table dir="ltr">
    <tr>
        <td style="height: 1cm;">
        </td>
    </tr>
    <tr>
        <td style="border: none;" colspan="4">
            <span class="HeaderSpan">
                راه کارها، باید ها و نباید ها
            </span>
        </td>
    </tr>
    <tr>
        <td style="height: 0.5cm;">
        </td>
    </tr>
    <tr>
        <td class="tdMarginLeftRight" rowspan="2"></td>
        <td class="tdorigin" style="width: 4cm;" rowspan="2"><img src="/assets/Images/MatchingWheel.png"></td>
        <td class="tdorigin" style="width: 20cm; height: 1cm;">
            <span class="MiddleSpan" dir="rtl">
                همواره برای داشتن زندگی موفق، می بایست فاکتور های مختلف در کنار هم گذاشته شود تا بتوان در کنار تمامی
                مشکلات سر
                راه، زندگی شاد و سالمی داشت. یکی از این فاکتور ها گرفتن راهنمایی و مشاور از افرادیست که در اینگونه زمینه
                ها
                دارای تجربه و تخصص هستند.
            </span></td>
        <td class="tdMarginLeftRight" rowspan="2"></td>
    </tr>
    <tr>
        <td style="border: none; height: 80px;">
            <!-- sign up start -->
            <button mat-raised-button>
                <span class="BtnSpan">ثبت نام</span>
            </button>
            <!-- sign up end -->
        </td>
    </tr>
    <tr>
        <td style="margin-bottom: 1cm;"></td>
    </tr>
</table>
<!-- page three end -->