<!-- page seven start -->
<table dir="ltr">
    <tr>
        <td style="height: 3cm;" colspan="3"><span class="spanHeader">رتبه یک اعتماد و
                اطمینان در
                حوزه همسریابی</span></td>
    </tr>

    <tr>
        <td style="width: 12cm;"></td>
        <td style="height: 4cm;"><span class="spanMiddle" dir="rtl">وقتی در این سامانه بیش از 3 میلیون ازدواج موفق با
                رعایت تمامی اصول و ضوابط شرعی ثبت گردیده، به
                منزله
                عدم وجود افراد نادرست در سیستم می باشد و تنها افرادی که واقعا بدنبال ازدواج هستند در این سامانه عضو می
                شوند.</span></td>
        <td style="width: 12cm;"></td>
    </tr>

    <tr>
        <td></td>
        <td style="height: 3cm;">
            <!-- sign up start -->
            <button mat-raised-button >
                <span class="btnSpan">ثبت نام</span>
            </button>
            <!-- sign up end -->
        </td>
        <td></td>
    </tr>
</table>
<!-- page seven end -->